h1 {
    font-family: "Gibson Light", "Helvetica", "Arial", sans-serif;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 2px;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.35;
  border-radius: 15px;
}

.row {
	text-align: center;
}

.row img{
	margin: auto;
}

.col-md-4{
	margin-bottom: 20px;
}

.modal-dialog{
  text-align: center;
}
.modal-footer{
  text-align: center;
}

.container h2{
  margin-bottom: 30px;
}

.pagination{
  margin: auto;
  text-align: center;
}